/.vscode
/arr.class
/array1.class
/absolutevalue.class
/ap.class
/Area.class
/areaOfaCircle.class
/areaofcirclebymethods
/basics.class
/c2.class
/composite.class
/conditionals.class
/DigitOfnum.java
/evevno.class
/fibo.class
/Grades.class
/hello.class
/inputfromuser.class
/inputradius.class
/logicaland.class
/logicaloper.class
/logicalor.class
/Geometricprog.class
/loops.class
/methods.class
/operators.class
/palindrome.class
/prime.class
/profitloss.class
/q1.class
/q2.class
/q3.class
/quest1.class
/quest2.class
/question.class
/s.class
/simpleinterest.class
/simpleinterestfromuser.class
/square.class
/sumofdigit.class
/Switchcase.class
/table19.class
/tempCodeRunner.class
/ternary.class
/typecasting.class
/variables.class
/variableupdation.class